<!DOCTYPE html>
<html ng-app="app" ng-controller="MainCtrl" ng-cloak>
<head>
  <script>
    var q = window.location.search;
    if (q) {
      var h = q.substring(3); // ?s=...
      window.location.href = window.location.protocol + '//' + window.location.host + window.location.pathname + '#' + h;
    }
  </script>
  <title ng-bind="title()">XOXO</title>
  <meta charset="utf-8">
  <meta name="robots" content="all">
  <meta name="revisit-after" content="2 days">
  <meta property="og:title" content="XOXO">
  <meta property="og:description" content="A YouTube mixtape maker thing.">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cousine" >
  <link rel="stylesheet" href="dist/style.min.css">
</head>
<body>
  <div class="main" ng-class="{ 'main--open': isSearchOpen, 'main--hidden': isHidden }" ng-mousemove="check()" ng-model-options="{ debounce: 500 }">
    <div class="main__inner">
      <div class="player" ng-controller="PlayerCtrl">
        <div class="player-iframe" ng-class="{ 'player-iframe--visible': isVideoVisible, 'player-iframe--stopped': isStopped() }"><youtube-video id="player" video-id="id" player-vars="{ 'cc_load_policy': 0, 'iv_load_policy': 3, 'modestbranding': 1, 'rel': 0, 'showinfo': 0 }"></youtube-video></div>
      </div>
      <div class="search" ng-controller="SearchCtrl">
        <div class="search-query" ng-class="{ 'search-query--loading': loading }">
          <input type="text" class="search-query-input" placeholder="Search YouTube..." spellcheck="false" ng-change="search()" ng-model="query" ng-model-options="{debounce: 500}" yq-sync-focus="isSearchOpen">
          <div class="search-query-loader"></div>
        </div>
        <div class="search-results">
          <ul class="search-results__inner" ng-if="getResults()">
            <li class="search-results-item" ng-repeat="item in getResults() track by $index"><a href="http://youtube.com/watch?v={{ item.id }}" ng-click="$event.preventDefault(); addToPlaylist(item)">{{ item.title }}&nbsp;<span class="search-results-item-duration">{{ item.duration }}</span></a></li>
         </ul>
       </div>
      </div>
      <div class="playlist" ng-controller="PlaylistCtrl">
        <div class="playlist__inner">
          <div class="controls">
            <div class="controls-btn controls-btn-toggle" ng-click="toggleSearch()"><div class="controls-btn-toggle__inner"></div></div>
            <div class="controls-btn controls-btn-previous" ng-class="{ 'controls-btn--inactive': isStopped() }" ng-click="previous()"><div class="controls-btn__inner"></div></div>
            <div class="controls-btn controls-btn-play" ng-class="{ 'controls-btn-play--paused': isPlaying() }" ng-click="play()"><div class="controls-btn__inner"></div></div>
            <div class="controls-btn controls-btn-next" ng-class="{ 'controls-btn--inactive': isStopped() }" ng-click="next()"><div class="controls-btn__inner"></div></div>
            <div class="controls-btn controls-btn-repeat" ng-class="{ 'controls-btn--active': isRepeating() }" ng-click="repeat()"><div class="controls-btn__inner"></div></div>
            <div class="controls-btn controls-btn-shuffle" ng-class="{ 'controls-btn--active': isShuffling() }" ng-click="shuffle()"><div class="controls-btn__inner"></div></div>
            <div class="controls-btn controls-btn-video" ng-class="{ 'controls-btn--active': isVideoVisible }" ng-click="toggleVideo()"><div class="controls-btn__inner"></div></div>
          </div>
          <div class="playlist-list">
            <ul yq-sortable="sortableCallback" yq-sortable-handle=".playlist-list-item-handle" yq-sortable-ghost-class="playlist-list-item--ghost" yq-sortable-sorted-class="playlist-list--sorted">
              <li class="playlist-list-item" ng-repeat="item in get() track by $index" ng-class="{ 'playlist-list-item--playing': getCurrentIndex() === $index }">
                <div class="playlist-list-item-remove" ng-click="remove($index)"></div>
                <div class="playlist-list-item-handle"></div>
                <div class="playlist-list-item-duration">{{ item.duration }}</div>
                <input type="text" class="playlist-list-item-title" spellcheck="false" ng-model="item.title" ng-blur="set($index, item.title)" ng-change="change($index)" yq-autosize-input>
                <a href="//youtube.com/watch?v={{ item.id }}" class="playlist-list-item-link" ng-click="$event.preventDefault(); play($index)"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="dist/script.js"></script>
</body>
</html>
